In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [2]:
data = pd.DataFrame

In [15]:
def read_file(data):
    data = pd.read_csv("C:/Users/Admin/Documents/ironhack/certification_project/data/clean/USA/USA_df.csv")
    data.info()
    return data

In [16]:
data = read_file(data).copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                92 non-null     int64
 1   country                   92 non-null     object
 2   people                    92 non-null     object
 3   obesity_levels            92 non-null     object
 4   obesity_level_percentage  92 non-null     object
 5   date                      92 non-null     int64
dtypes: int64(2), object(4)
memory usage: 4.4+ KB

In [17]:
risk_levels = data[(data['obesity_levels'] == 'obese ')|(data['obesity_levels'] == 'overweight ')]

In [18]:
data_crosstab = pd.crosstab(risk_levels['country'], risk_levels['obesity_levels'], margins = False)
data_crosstab

obesity_levels            obese   overweight
country
United States of America      24           24

In [19]:
risk_levels['country'].nunique()-1

0

In [20]:
risk_levels['country'].unique()

array(['United States of America'], dtype=object)

In [21]:
data_crosstab.shape

(1, 2)

In [22]:
# Number of degrees of freedom
(data_crosstab.shape[0]-1)*(data_crosstab.shape[1]-1)

0

In [23]:
# this is the critical value
st.chi2.ppf(0.95,df=0)

nan