# Is the Country and Obesity risk levels correlated?

#### We do this with a CHI square test

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [2]:
data = pd.DataFrame

In [23]:
def read_file(data):
    data = pd.read_csv("C:/Users/Admin/Documents/ironhack/certification_project/data/clean/clean_data.csv")
    data.info()
    return data

In [24]:
data = read_file(data).copy()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                2772 non-null   int64
 1   country                   2772 non-null   object
 2   people                    2766 non-null   object
 3   obesity_levels            2766 non-null   object
 4   obesity_level_percentage  2766 non-null   object
 5   date                      2766 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 130.1+ KB

In [25]:
risk_levels = data[(data['obesity_levels'] == 'obese ')|(data['obesity_levels'] == 'overweight ')]

In [26]:
data_crosstab = pd.crosstab(risk_levels['country'], risk_levels['obesity_levels'], margins = False)
data_crosstab

obesity_levels            obese   overweight
country
American Samoa                 6            3
Argentina                      2            2
Armenia                        3            3
Australia                     19           19
Austria                       12           12
...                          ...          ...
United States of America      24           24
Uzbekistan                     2            2
Viet Nam                       3            6
Zambia                         3            3
Zimbabwe                       5            5

[128 rows x 2 columns]

In [28]:
risk_levels['country'].nunique()-1

127

In [29]:
risk_levels['country'].unique()

array(['American Samoa', 'Argentina', 'Armenia', 'Australia', 'Austria',
       'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados', 'Belgium',
       'Benin', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Brazil', 'Bulgaria', 'Burkina Faso',
       'Cambodia', 'Cameroon', 'Canada', 'Chad', 'Chile', 'China',
       'Colombia', 'Congo', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Democratic Republic of the Congo', 'Denmark',
       'Egypt', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland',
       'France', 'Gabon', 'Germany', 'Ghana', 'Greece', 'Guatemala',
       'Guinea', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kuwait', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Lithuania', 'Madagascar',
       'Malawi', 'Malaysia', 'Mali', 'Malta', 'Martinique', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Morocco', 'Mozambique',
       'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Panama', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Republic of Korea',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia',
       'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Singapore',
       'Slovakia', 'Slovenia', 'South Africa', 'Spain', 'Swaziland',
       'Sweden', 'Switzerland', 'Tajikistan', 'Thailand', 'Macedonia',
       'Timor-Leste', 'Tokelau', 'Tonga', 'Turkey', 'Turkmenistan',
       'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Uzbekistan', 'Viet Nam', 'Zambia', 'Zimbabwe', 'Montenegro'],
      dtype=object)

In [32]:
data_crosstab.shape

(128, 2)

In [33]:
# Number of degrees of freedom
(data_crosstab.shape[0]-1)*(data_crosstab.shape[1]-1)

127

In [36]:
# this is the critical value
st.chi2.ppf(0.95,df=127)

154.30151616535022

In [37]:
st.chi2_contingency(data_crosstab)

(53.341402180473565,
 0.999999999001409,
 127,
 array([[ 4.57534247,  4.42465753],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [19.31811263, 18.68188737],
        [12.20091324, 11.79908676],
        [ 3.05022831,  2.94977169],
        [ 3.05022831,  2.94977169],
        [ 3.5585997 ,  3.4414003 ],
        [ 3.05022831,  2.94977169],
        [ 4.57534247,  4.42465753],
        [ 2.03348554,  1.96651446],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [ 8.13394216,  7.86605784],
        [ 5.08371385,  4.91628615],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [ 1.01674277,  0.98325723],
        [16.26788432, 15.73211568],
        [ 1.01674277,  0.98325723],
        [ 3.05022831,  2.94977169],
        [ 5.59208524,  5.40791476],
        [ 9.15068493,  8.84931507],
        [ 1.01674277,  0.98325723],
        [ 1.01674277,  0.98325723],
        [ 4.06697108,  3.93302892],
        [ 6.10045662,  5.89954338],
        [ 3.05022831,  2.94977169],
        [ 8.13394216,  7.86605784],
        [ 1.01674277,  0.98325723],
        [ 8.13394216,  7.86605784],
        [ 9.15068493,  8.84931507],
        [ 3.05022831,  2.94977169],
        [ 7.62557078,  7.37442922],
        [ 4.06697108,  3.93302892],
        [ 4.06697108,  3.93302892],
        [24.40182648, 23.59817352],
        [ 8.13394216,  7.86605784],
        [ 1.01674277,  0.98325723],
        [15.25114155, 14.74885845],
        [ 3.05022831,  2.94977169],
        [ 4.06697108,  3.93302892],
        [ 1.01674277,  0.98325723],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [ 2.03348554,  1.96651446],
        [ 7.62557078,  7.37442922],
        [ 3.05022831,  2.94977169],
        [ 5.08371385,  4.91628615],
        [ 3.05022831,  2.94977169],
        [ 8.13394216,  7.86605784],
        [ 2.03348554,  1.96651446],
        [ 6.60882801,  6.39117199],
        [ 9.15068493,  8.84931507],
        [12.20091324, 11.79908676],
        [ 7.11719939,  6.88280061],
        [ 3.5585997 ,  3.4414003 ],
        [ 1.01674277,  0.98325723],
        [ 1.01674277,  0.98325723],
        [ 9.15068493,  8.84931507],
        [ 6.10045662,  5.89954338],
        [ 3.05022831,  2.94977169],
        [12.20091324, 11.79908676],
        [ 1.01674277,  0.98325723],
        [ 3.5585997 ,  3.4414003 ],
        [ 2.03348554,  1.96651446],
        [12.20091324, 11.79908676],
        [ 3.05022831,  2.94977169],
        [ 2.54185693,  2.45814307],
        [ 3.05022831,  2.94977169],
        [12.20091324, 11.79908676],
        [ 2.03348554,  1.96651446],
        [12.20091324, 11.79908676],
        [ 2.03348554,  1.96651446],
        [ 2.03348554,  1.96651446],
        [ 1.52511416,  1.47488584],
        [ 4.57534247,  4.42465753],
        [ 7.62557078,  7.37442922],
        [ 2.54185693,  2.45814307],
        [ 6.60882801,  6.39117199],
        [ 1.01674277,  0.98325723],
        [ 2.03348554,  1.96651446],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [15.25114155, 14.74885845],
        [ 4.06697108,  3.93302892],
        [ 1.01674277,  0.98325723],
        [ 2.03348554,  1.96651446],
        [15.25114155, 14.74885845],
        [ 2.03348554,  1.96651446],
        [ 3.05022831,  2.94977169],
        [ 6.10045662,  5.89954338],
        [ 3.05022831,  2.94977169],
        [ 6.10045662,  5.89954338],
        [12.20091324, 11.79908676],
        [ 4.57534247,  4.42465753],
        [ 3.05022831,  2.94977169],
        [ 2.03348554,  1.96651446],
        [ 1.52511416,  1.47488584],
        [10.1674277 ,  9.8325723 ],
        [ 1.01674277,  0.98325723],
        [ 2.54185693,  2.45814307],
        [ 3.05022831,  2.94977169],
        [ 3.05022831,  2.94977169],
        [ 3.05022831,  2.94977169],
        [ 1.52511416,  1.47488584],
        [ 4.06697108,  3.93302892],
        [14.23439878, 13.76560122],
        [ 4.06697108,  3.93302892],
        [19.31811263, 18.68188737],
        [ 9.15068493,  8.84931507],
        [ 1.01674277,  0.98325723],
        [ 5.08371385,  4.91628615],
        [ 1.01674277,  0.98325723],
        [ 1.52511416,  1.47488584],
        [ 1.01674277,  0.98325723],
        [ 6.10045662,  5.89954338],
        [ 1.01674277,  0.98325723],
        [ 2.03348554,  1.96651446],
        [ 1.01674277,  0.98325723],
        [ 4.57534247,  4.42465753],
        [12.20091324, 11.79908676],
        [ 2.03348554,  1.96651446],
        [24.40182648, 23.59817352],
        [ 2.03348554,  1.96651446],
        [ 4.57534247,  4.42465753],
        [ 3.05022831,  2.94977169],
        [ 5.08371385,  4.91628615]]))

In [ ]:
# 3 - Get the chi2 of your crosstable -> st.chi2_contingency() ->(chi2, p_value, degrees_of_freedom, array_of_expected_prequencies)
# 4 - Get the critical value of the chi2 distribution with (number of degrees of freedom). st.chi2.ppf(confidence_level,df=degrees_of_freedom)
# 5 - Option_1 -> Compare your chi2 against the critical value.
#.      if chi2 < critical_value -> Accept H0
#       otherwise -> Reject H0
#.  - Option_2 > Compare your p_value against the significance level (alpha)
#.      if p_value < alpha -> Reject H0
#.      otherwise -> Accept H0

#### There is a relation between countries and obesity . We can accept the hypothesis

#### It seems that inspite of the hypothesis of clear Nominal relationships between countries and obesity levels are true, there is a scattered levels of overall data that are missing on the internet  with regards to such health critical Issue between the years 2009 till present.

#### It is safe to say that we need to create a public database of obesity levels for the the people and from the people, in the market place